body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:white; color:#333; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
input{
	border: none;
	outline: none;
	-webkit-appearance: none;
}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

[class^="icon_"]{
    background: url("../img/sprites.png") no-repeat;
    background-size: 200px 200px;
}

#jd{
	width: 100%;
    max-width: 768px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: white;
}

/*
 * 头部
 */
#jd_header{
    height: 40px;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}
.jd_header2{
	position: static !important;
}
#jd_header .jd_header_box{
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    background: rgba(201,21,35,0);
    height: 40px;
    position: relative;
}
.jd_header2 .jd_header_box{
	background: url("../img/header-bg.png") repeat-x !important;
	background-size: 1px 40px;
}
#jd_header .jd_header_box .jd_header_bgimg{
    height: 36px;
    position: absolute;
    top: 4px;
    left: 10px;
}
#jd_header .jd_header_box .icon_logo{
    width: 60px;
    background-position:0 -103px;
}
#jd_header .jd_header_box .jd_header_bgimg{
	display: block;
    height: 36px;
}
#jd_header .jd_header_box .jd_header_bgimg .icon_left{
	display: inline-block;
    width: 12px;
    height: 20px;
    background-position:-25px 1px;
    margin: 6px 0 0 5px;
}
#jd_header .jd_header_box .login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}
#jd_header .jd_header_box .login .icon_navbar{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position:-61px 1px;
	vertical-align: middle;
}
#jd_header .jd_header_box .jd_header_form{
	width: 100%;
    padding:0 50px 0 76px;
}
#jd_header .jd_header_box .jd_header_form2{
	width: 100%;
    padding:0 50px 0 40px;
    line-height: 40px;
    font-size: 16px;
}
#jd_header .jd_header_box .jd_header_form2 ul li a{
	display: inline-block;
	width: 100%;
	height: 38px;
	padding: 0 3px;
}
#jd_header .jd_header_box .jd_header_form2 ul li.active a{
	border-bottom: 2px solid #333;
}
#jd_header .jd_header_box form{
    width: 100%;
    height: 40px;
    position: relative;
}
#jd_header .jd_header_box form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
    font-size: 12px;
}
#jd_header .jd_header_box form .icon_search{
    height: 20px;
    width:20px;
    position: absolute;
    background-position: -60px -109px;
    top: 10px;
    left: 7px;
}
.navToggle{
	width: 100%;
	height: 57px;
	overflow: hidden;
	margin: 0;
	background: #F0F0F0;
	position: absolute;
	z-index: 100;
}
.navToggle li{
	display: inline-block;
	width: 20%;
	height: 57px;
	float: left;
	overflow: hidden;
}
.navToggle li.active{
	background: #E0E0E0;
}
.navToggle li a{
	display: inline-block;
	width: 100%;
	height: 57px;
	text-align: center;
}
.navToggle li a img{
	display: inline-block;
	width: 70px;
	max-height: 57px;
}

/*
 * 猜你喜欢
 */
.myrecommend{
	margin-bottom: 15px;
}
.myrecommend .shopcart_tit{
	margin-top: 15px;
	font-size: 12px;
	height: 12px;
	line-height: 1em;
	color: #999;
	position: relative;
	text-align: center;
	background: #f7f7f7;
}
.myrecommend .shopcart_tit span{
	display: block;
	padding: 0 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -50px;
	z-index: 200;
	background: #f7f7f7;
}
.myrecommend .shopcart_tit:after{
	content: " ";
	background: #ccc;
	height: 0.5px;
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
	pointer-events: none;
	z-index: 1;
}
.myrecommend .shopcart_content{
	width: 100%;
	margin-top: 15px;
}
.myrecommend .shopcart_content ul.c_list{
	width: 100%;
	overflow: hidden;
	background: #f7f7f7;
}
.myrecommend .shopcart_content ul.c_list li{
	width: 50%;
	float: left;
	background: white;
	border-bottom: 3px solid #f7f7f7;
	border-right: 1.5px solid #f7f7f7;
	border-left: 1.5px solid #f7f7f7;
}
.myrecommend .shopcart_content ul.c_list li a{
	display: inline-block;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_cover{
	text-align: center;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_cover img{
	display: inline-block;
	width: 100%;
	min-width: 150px;
	max-width: 270px;
	height: auto;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_name{
	margin: 5px 0;
	font-size: 12px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_footer{
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_footer .footer_money{
	display: inline-block;
	color: #e4393c;
	font-size: 15px;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_footer .footer_money em{
	font-size: 12px;
	margin-right: 2px;
}
.myrecommend .shopcart_content ul.c_list li a .c_list_footer .footer_cart{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-position: -91px -27px;
	background-color: #f2f2f7;
	border-radius: 3px;
	margin-top: 3px;
	border: 1px solid #ddd;
}

.bor_l{
	border-left:1px solid #F5F5F5;
}
.bor_r{
	border-right:1px solid #F5F5F5;
}
.bor_t{
	border-top:1px solid #F5F5F5;
}
.bor_b{
	border-bottom:1px solid #F5F5F5;
}
.none{
	display: none !important;
}
.block{
	display: inline-block !important;
}
.margin_t{
	margin-top: 10px;
}
.padding_b{
	padding-bottom: 9px;
}
.item_display_inline{
	display: inline-block;
	line-height: 15px;
}
.ziying{
	display: inline-block;
	color: white;
	margin: 3px 6px 0 0;
	padding: 0 3px;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	border-radius: 3px;
	background: #f23030;
	vertical-align: top;
}
.goods{
	color: #f15353;
}
.row_more{
	display: inline-block;
	font-size: 13px;
	color: #B0B0B0;
}
.label-icon-div{
	display: inline-block;
	margin-right: 6px;
	vertical-align: middle;
	height: 14px;
	line-height: 14px;
	position: relative;
	padding: 0 2px;
	color: #f23030;
	font-size: 10px;
	text-align: center;
}
.label-icon-div:before{
	content: " ";
	border: 1px solid #f23030;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.text_hide{
	overflow: hidden !important;
	text-overflow: ellipsis !important;;
	white-space: nowrap !important;;
}
.wrap_tow{
	overflow: hidden;
	text-overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
}
